@import '../../css/Butify/colors.css';

.nav-bar {
	width: 150px;
	border-right: 1.5px solid var(--border);
}

.nav-bar button i {
	font-size: 1.3em;
	transition: font-size 0.2s;
}

#personal-playlist-side-bar {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	overflow-y: auto;
	margin-bottom: 10px;
}

.nav-bar a button {
	background-size: 200% 200%;
	background-position: 1% 50%;
	transition: background-position 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {
	.nav-bar {
		width: 70px;
		transition: 0.05s;
	}

	.nav-bar button {
		width: 50px;
		height: 50px;
	}

	.nav-bar button i {
		font-size: 1.3em;
		padding-right: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.nav-bar button p {
		display: none;
	}

	#personal-playlist-side-bar {
		padding: 0;
	}

	.nav-bar-playlist-add i {
		font-size: 1.3em;
	}

	.nav-bar a:hover > button div i {
		font-size: 1.7em;
	}
}

.nav-wave-text {
	font-size: 5rem;
	font-weight: bold;
	color: var(--orange);
	display: flex;
	text-decoration: none;
}

.nav-wave-text:hover {
	text-decoration: none;
	color: var(--orange);
}

.nav-wave-text span {
	display: inline-block;
	animation: wave 1.5s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
	will-change: transform;
	padding: 0 1.5px 0 1.5px;
}

@keyframes wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}
